<h1>Products</h1>

  <% @products.each do |product| %>
    <%= link_to product_path(product) do %>
    <div class="card horizontal z-depth-1">
      <div class="car-image">
        <%= image_tag product.img_url, class: "left", size: "120x120" %>
      </div>
      <div class="card-content black-text">
        <h4><%= product.name %></h4>
        <p class="text-purple"> <%= product.cost %> </p>
      </div>
    </div>
    <% end %>
  <% end %>
  <br>

<div class="section right-align">
  <%= link_to "Add New Product", new_product_path, class:"btn right-align" %>
</div>
